<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS file</title>
</head>
<body>
<h1>
    this is a home page
</h1>
<h3>
    The EJS output = 1+2 (Printed like string)
    <br>
    The EJS output = <%= "human".toUpperCase() %> (Evaluated)
    <br>
    Array = <%= [2, 4, 6, 8, 10]
            [0]
    %>
</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ad dolore dolorem doloribus ducimus earum eos ex
    exercitationem impedit inventore iure laudantium molestiae obcaecati possimus quos sit vel, veritatis voluptate.</p>
<button>Click Me!</button>
</body>
</html>