<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram</title>
    <style>
        img {
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
<h1>@<%= data.name %> </h1>
<button>Follow</button>
<button>Search</button>
<p>Followers : <%= data.followers %> &nbsp &nbsp Following : <%= data.following %></p>
<hr>
<h2>Posts</h2>
<% for(post of data.posts){ %>
    <img src="<%= post.image %>" alt="">
<% } %>
</body>
</html>

